In [2]:
import pandas as pd
import numpy as np

In [3]:
train_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_logs.csv")
train_scores = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_scores.csv")
sample_sub = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/sample_submission.csv")
test_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/test_logs.csv")

In [4]:
train_logs.head()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

In [5]:
train_data = train_logs.merge(train_scores, how='inner', on="id")

# Converting from categorical data to numerical data

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
le = LabelEncoder()

In [57]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

In [58]:
label = le.fit_transform(train_data["activity"])

In [59]:
label_array = np.array(label)

In [60]:
train_data["activity_label"] = label_array

In [64]:
train_data

,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score,activity_label
0,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5,46
1,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5,46
2,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5,46
3,4,106686,106777,91,Input,q,q,q,1,1,3.5,0
4,5,107196,107323,127,Input,q,q,q,2,1,3.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0,46
8405894,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0,46
8405895,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0,49
8405896,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0,46
8405897,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0,0

In [65]:
train_data.drop("event_id", axis = 1, inplace = True)

In [66]:
train_data.drop("activity", axis = 1, inplace = True)

In [67]:
train_data

,down_time,up_time,action_time,down_event,up_event,text_change,cursor_position,word_count,score,activity_label
0,4526,4557,31,Leftclick,Leftclick,NoChange,0,0,3.5,46
1,4558,4962,404,Leftclick,Leftclick,NoChange,0,0,3.5,46
2,106571,106571,0,Shift,Shift,NoChange,0,0,3.5,46
3,106686,106777,91,q,q,q,1,1,3.5,0
4,107196,107323,127,q,q,q,2,1,3.5,0
...,...,...,...,...,...,...,...,...,...,...
8405893,2063944,2064440,496,Leftclick,Leftclick,NoChange,1031,240,4.0,46
8405894,2064497,2064497,0,Shift,Shift,NoChange,1031,240,4.0,46
8405895,2064657,2064765,108,q,q,q => q,1031,240,4.0,49
8405896,2069186,2069259,73,Leftclick,Leftclick,NoChange,1028,240,4.0,46
8405897,2070065,2070133,68,.,.,.,1029,240,4.0,0

In [68]:
column_list = train_data.columns.values.tolist()

In [77]:
del column_list[3:4]

In [71]:
del column_list[1:3]

In [75]:
del column_list[0:1]

In [79]:
del column_list[3:5]

In [81]:
del column_list[3:4]

In [82]:
column_list

['down_event', 'up_event', 'text_change']

In [86]:
def transformColumns(column_list):
    i = 0
    while (i < len(column_list)):
        # Defining LabelEncoder
        le = LabelEncoder()
        
        
        
        labels = np.array(le.fit_transform(train_data[column_list[i]]))
        
         
        train_data[column_list[i] + "_label"] = labels
        
        print(f'Added {column_list[i]} to the train data')
        
        train_data.drop(column_list[i], axis = 1)
        
        print(f'Dropped {column_list[i]} from the train data')
                                
        # Add 1 to i
        i+=1

In [87]:
transformColumns(column_list)

Added down_event to the train data
Dropped down_event from the train data
Added up_event to the train data
Dropped up_event from the train data
Added text_change to the train data
Dropped text_change from the train data

In [88]:
train_data.drop(['down_event', 'up_event', 'text_change'], axis = 1, inplace = True)

In [89]:
train_data

,down_time,up_time,action_time,cursor_position,word_count,score,activity_label,down_event_label,up_event_label,text_change_label
0,4526,4557,31,0,0,3.5,46,60,58,873
1,4558,4962,404,0,0,3.5,46,60,58,873
2,106571,106571,0,0,0,3.5,46,77,75,873
3,106686,106777,91,1,1,3.5,0,105,104,881
4,107196,107323,127,2,1,3.5,0,105,104,881
...,...,...,...,...,...,...,...,...,...,...
8405893,2063944,2064440,496,1031,240,4.0,46,60,58,873
8405894,2064497,2064497,0,1031,240,4.0,46,77,75,873
8405895,2064657,2064765,108,1031,240,4.0,49,105,104,893
8405896,2069186,2069259,73,1028,240,4.0,46,60,58,873
8405897,2070065,2070133,68,1029,240,4.0,0,13,13,816

In [90]:
train_data.corr()

,down_time,up_time,action_time,cursor_position,word_count,score,activity_label,down_event_label,up_event_label,text_change_label
down_time,1.000000,1.000000,-0.009286,0.604293,0.666936,0.004175,0.078215,-0.082740,-0.082360,0.002580
up_time,1.000000,1.000000,-0.008794,0.604291,0.666935,0.004171,0.078188,-0.082722,-0.082342,0.002576
action_time,-0.009286,-0.008794,1.000000,-0.008629,-0.007950,-0.006641,-0.054844,0.036776,0.036758,-0.007374
cursor_position,0.604293,0.604291,-0.008629,1.000000,0.911395,0.324868,-0.037457,0.025325,0.025363,-0.006002
word_count,0.666936,0.666935,-0.007950,0.911395,1.000000,0.329669,0.005842,-0.016414,-0.016177,0.005029
score,0.004175,0.004171,-0.006641,0.324868,0.329669,1.000000,-0.018052,0.022368,0.022603,0.020809
activity_label,0.078215,0.078188,-0.054844,-0.037457,0.005842,-0.018052,1.000000,-0.788754,-0.786524,0.085242
down_event_label,-0.082740,-0.082722,0.036776,0.025325,-0.016414,0.022368,-0.788754,1.000000,0.999789,0.274677
up_event_label,-0.082360,-0.082342,0.036758,0.025363,-0.016177,0.022603,-0.786524,0.999789,1.000000,0.288304
text_change_label,0.002580,0.002576,-0.007374,-0.006002,0.005029,0.020809,0.085242,0.274677,0.288304,1.000000

# Other

In [6]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

In [7]:
len(train_data["id"].unique())

2471

In [8]:
test_logs

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,0000aaaa,1,338433,338518,85,Input,Space,Space,,0,0
1,0000aaaa,2,760073,760160,87,Input,Space,Space,,1,0
2,2222bbbb,1,711956,712023,67,Input,q,q,q,0,1
3,2222bbbb,2,290502,290548,46,Input,q,q,q,1,1
4,4444cccc,1,635547,635641,94,Input,Space,Space,,0,0
5,4444cccc,2,184996,185052,56,Input,q,q,q,1,1

In [9]:
train_data["activity"].describe()

count     8405898
unique         50
top         Input
freq      6726796
Name: activity, dtype: object

In [12]:
train_data[train_data["id"]=="001519c8"]

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
2552,001519c8,2553,1781786,1781841,55,Remove/Cut,Backspace,Backspace,q,555,255,3.5
2553,001519c8,2554,1781917,1781991,74,Remove/Cut,Backspace,Backspace,q,554,255,3.5
2554,001519c8,2555,1782062,1782141,79,Remove/Cut,Backspace,Backspace,q,553,255,3.5
2555,001519c8,2556,1782922,1782985,63,Input,q,q,q,554,255,3.5
2556,001519c8,2557,1801877,1801969,92,Nonproduction,Leftclick,Leftclick,NoChange,1046,255,3.5