In [1]:
import pandas as pd
import numpy as np

In [2]:
train_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_logs.csv")
train_scores = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_scores.csv")
sample_sub = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/sample_submission.csv")
test_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/test_logs.csv")

In [3]:
train_logs.head()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

In [4]:
train_data = train_logs.merge(train_scores, how='inner', on="id")

In [5]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

# Converting from categorical data to numerical data

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [9]:
label = le.fit_transform(train_data["activity"])

In [11]:
label_array = np.array(label)

In [12]:
train_data["activity_label"] = label_array

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score,activity_label
30,001519c8,31,112248,112414,166,Input,q,q,q,26,5,3.5,0
31,001519c8,32,112359,112478,119,Input,Space,Space,,27,5,3.5,0
32,001519c8,33,112589,112700,111,Input,q,q,q,28,6,3.5,0
33,001519c8,34,113005,113075,70,Remove/Cut,Backspace,Backspace,q,27,5,3.5,48
34,001519c8,35,113055,113175,120,Input,q,q,q,28,6,3.5,0
35,001519c8,36,113233,113323,90,Input,q,q,q,29,6,3.5,0
36,001519c8,37,113304,113446,142,Input,Space,Space,,30,6,3.5,0
37,001519c8,38,113520,113632,112,Input,q,q,q,31,7,3.5,0
38,001519c8,39,113585,113740,155,Input,q,q,q,32,7,3.5,0
39,001519c8,40,113682,113796,114,Input,q,q,q,33,7,3.5,0
40,001519c8,41,113841,113944,103,Input,q,q,q,34,7,3.5,0