In [2]:
import pandas as pd
import numpy as np

In [3]:
train_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_logs.csv")
train_scores = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_scores.csv")
sample_sub = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/sample_submission.csv")
test_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/test_logs.csv")

In [4]:
train_logs.head()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

In [5]:
train_data = train_logs.merge(train_scores, how='inner', on="id")

# Converting from categorical data to numerical data

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
le = LabelEncoder()

In [57]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

In [58]:
label = le.fit_transform(train_data["activity"])

In [59]:
label_array = np.array(label)

In [60]:
train_data["activity_label"] = label_array

In [64]:
train_data

,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score,activity_label
0,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5,46
1,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5,46
2,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5,46
3,4,106686,106777,91,Input,q,q,q,1,1,3.5,0
4,5,107196,107323,127,Input,q,q,q,2,1,3.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0,46
8405894,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0,46
8405895,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0,49
8405896,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0,46
8405897,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0,0

In [65]:
train_data.drop("event_id", axis = 1, inplace = True)

In [66]:
train_data.drop("activity", axis = 1, inplace = True)

In [67]:
train_data

,down_time,up_time,action_time,down_event,up_event,text_change,cursor_position,word_count,score,activity_label
0,4526,4557,31,Leftclick,Leftclick,NoChange,0,0,3.5,46
1,4558,4962,404,Leftclick,Leftclick,NoChange,0,0,3.5,46
2,106571,106571,0,Shift,Shift,NoChange,0,0,3.5,46
3,106686,106777,91,q,q,q,1,1,3.5,0
4,107196,107323,127,q,q,q,2,1,3.5,0
...,...,...,...,...,...,...,...,...,...,...
8405893,2063944,2064440,496,Leftclick,Leftclick,NoChange,1031,240,4.0,46
8405894,2064497,2064497,0,Shift,Shift,NoChange,1031,240,4.0,46
8405895,2064657,2064765,108,q,q,q => q,1031,240,4.0,49
8405896,2069186,2069259,73,Leftclick,Leftclick,NoChange,1028,240,4.0,46
8405897,2070065,2070133,68,.,.,.,1029,240,4.0,0

In [68]:
column_list = train_data.columns.values.tolist()

In [77]:
del column_list[3:4]

In [71]:
del column_list[1:3]

In [75]:
del column_list[0:1]

In [79]:
del column_list[3:5]

In [81]:
del column_list[3:4]

In [82]:
column_list

['down_event', 'up_event', 'text_change']

In [86]:
def transformColumns(column_list):
    i = 0
    while (i < len(column_list)):
        # Defining LabelEncoder
        le = LabelEncoder()
        
        
        
        labels = np.array(le.fit_transform(train_data[column_list[i]]))
        
         
        train_data[column_list[i] + "_label"] = labels
        
        print(f'Added {column_list[i]} to the train data')
        
        train_data.drop(column_list[i], axis = 1)
        
        print(f'Dropped {column_list[i]} from the train data')
                                
        # Add 1 to i
        i+=1

In [87]:
transformColumns(column_list)

Added down_event to the train data
Dropped down_event from the train data
Added up_event to the train data
Dropped up_event from the train data
Added text_change to the train data
Dropped text_change from the train data

In [88]:
train_data.drop(['down_event', 'up_event', 'text_change'], axis = 1, inplace = True)

In [89]:
train_data

,down_time,up_time,action_time,cursor_position,word_count,score,activity_label,down_event_label,up_event_label,text_change_label
0,4526,4557,31,0,0,3.5,46,60,58,873
1,4558,4962,404,0,0,3.5,46,60,58,873
2,106571,106571,0,0,0,3.5,46,77,75,873
3,106686,106777,91,1,1,3.5,0,105,104,881
4,107196,107323,127,2,1,3.5,0,105,104,881
...,...,...,...,...,...,...,...,...,...,...
8405893,2063944,2064440,496,1031,240,4.0,46,60,58,873
8405894,2064497,2064497,0,1031,240,4.0,46,77,75,873
8405895,2064657,2064765,108,1031,240,4.0,49,105,104,893
8405896,2069186,2069259,73,1028,240,4.0,46,60,58,873
8405897,2070065,2070133,68,1029,240,4.0,0,13,13,816

In [90]:
train_data.corr()

,down_time,up_time,action_time,cursor_position,word_count,score,activity_label,down_event_label,up_event_label,text_change_label
down_time,1.000000,1.000000,-0.009286,0.604293,0.666936,0.004175,0.078215,-0.082740,-0.082360,0.002580
up_time,1.000000,1.000000,-0.008794,0.604291,0.666935,0.004171,0.078188,-0.082722,-0.082342,0.002576
action_time,-0.009286,-0.008794,1.000000,-0.008629,-0.007950,-0.006641,-0.054844,0.036776,0.036758,-0.007374
cursor_position,0.604293,0.604291,-0.008629,1.000000,0.911395,0.324868,-0.037457,0.025325,0.025363,-0.006002
word_count,0.666936,0.666935,-0.007950,0.911395,1.000000,0.329669,0.005842,-0.016414,-0.016177,0.005029
score,0.004175,0.004171,-0.006641,0.324868,0.329669,1.000000,-0.018052,0.022368,0.022603,0.020809
activity_label,0.078215,0.078188,-0.054844,-0.037457,0.005842,-0.018052,1.000000,-0.788754,-0.786524,0.085242
down_event_label,-0.082740,-0.082722,0.036776,0.025325,-0.016414,0.022368,-0.788754,1.000000,0.999789,0.274677
up_event_label,-0.082360,-0.082342,0.036758,0.025363,-0.016177,0.022603,-0.786524,0.999789,1.000000,0.288304
text_change_label,0.002580,0.002576,-0.007374,-0.006002,0.005029,0.020809,0.085242,0.274677,0.288304,1.000000

# Other

In [6]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

In [7]:
len(train_data["id"].unique())

2471

In [8]:
test_logs

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,0000aaaa,1,338433,338518,85,Input,Space,Space,,0,0
1,0000aaaa,2,760073,760160,87,Input,Space,Space,,1,0
2,2222bbbb,1,711956,712023,67,Input,q,q,q,0,1
3,2222bbbb,2,290502,290548,46,Input,q,q,q,1,1
4,4444cccc,1,635547,635641,94,Input,Space,Space,,0,0
5,4444cccc,2,184996,185052,56,Input,q,q,q,1,1

In [9]:
train_data["activity"].describe()

count     8405898
unique         50
top         Input
freq      6726796
Name: activity, dtype: object

In [10]:
train_data[train_data["id"]=="001519c8"]

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
2552,001519c8,2553,1781786,1781841,55,Remove/Cut,Backspace,Backspace,q,555,255,3.5
2553,001519c8,2554,1781917,1781991,74,Remove/Cut,Backspace,Backspace,q,554,255,3.5
2554,001519c8,2555,1782062,1782141,79,Remove/Cut,Backspace,Backspace,q,553,255,3.5
2555,001519c8,2556,1782922,1782985,63,Input,q,q,q,554,255,3.5
2556,001519c8,2557,1801877,1801969,92,Nonproduction,Leftclick,Leftclick,NoChange,1046,255,3.5

In [11]:
print(train_data["activity"].unique())

['Nonproduction' 'Input' 'Remove/Cut' 'Replace'
 'Move From [284, 292] To [282, 290]' 'Move From [287, 289] To [285, 287]'
 'Move From [460, 461] To [465, 466]' 'Paste'
 'Move From [905, 1314] To [907, 1316]'
 'Move From [565, 743] To [669, 847]' 'Move From [669, 847] To [565, 743]'
 'Move From [1041, 1121] To [1496, 1576]'
 'Move From [1455, 1557] To [1323, 1425]'
 'Move From [2268, 2275] To [2247, 2254]'
 'Move From [213, 302] To [902, 991]' 'Move From [0, 158] To [234, 392]'
 'Move From [460, 465] To [925, 930]' 'Move From [810, 906] To [816, 912]'
 'Move From [186, 187] To [184, 185]' 'Move From [140, 272] To [299, 431]'
 'Move From [114, 140] To [272, 298]'
 'Move From [1386, 1450] To [1445, 1509]'
 'Move From [442, 524] To [296, 378]' 'Move From [408, 414] To [390, 396]'
 'Move From [1144, 1147] To [1142, 1145]'
 'Move From [218, 220] To [206, 208]' 'Move From [164, 165] To [153, 154]'
 'Move From [623, 632] To [624, 633]'
 'Move From [747, 960] To [1041, 1254]'
 'Move From [274, 314] To [299, 339]' 'Move From [624, 625] To [845, 846]'
 'Move From [1861, 2063] To [1766, 1968]'
 'Move From [1766, 1968] To [1861, 2063]'
 'Move From [2091, 2179] To [252, 340]'
 'Move From [923, 1077] To [340, 494]' 'Move From [0, 1] To [590, 591]'
 'Move From [999, 1000] To [1000, 1001]' 'Move From [13, 65] To [9, 61]'
 'Move From [1651, 1769] To [1565, 1683]' 'Move From [61, 136] To [0, 75]'
 'Move From [0, 75] To [1, 76]' 'Move From [75, 134] To [304, 363]'
 'Move From [289, 355] To [562, 628]'
 'Move From [944, 1102] To [1050, 1208]'
 'Move From [1306, 1371] To [1061, 1126]'
 'Move From [1061, 1126] To [1306, 1371]'
 'Move From [1361, 1362] To [1358, 1359]'
 'Move From [51, 86] To [109, 144]' 'Move From [134, 169] To [122, 157]'
 'Move From [382, 437] To [458, 513]']

In [12]:
train_data["activity"]

0          Nonproduction
1          Nonproduction
2          Nonproduction
3                  Input
4                  Input
               ...
8405893    Nonproduction
8405894    Nonproduction
8405895          Replace
8405896    Nonproduction
8405897            Input
Name: activity, Length: 8405898, dtype: object

In [13]:
train_data[["id", "down_time"]].groupby("id").min()

          down_time
id
001519c8       4526
0022f953      30623
0042269b       4441
0059420b      41395
0075873a      78470
...             ...
ffb8c745      22467
ffbef7e5      21732
ffccd6fd      23482
ffec5b38      19885
fff05981      39727

[2471 rows x 1 columns]

In [14]:
train_data["activity"].apply(lambda x:1 if x=="Inpu" else 0)

0          0
1          0
2          0
3          0
4          0
          ..
8405893    0
8405894    0
8405895    0
8405896    0
8405897    0
Name: activity, Length: 8405898, dtype: int64

In [15]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

## Function from kaggle

In [16]:
def feature_eng(df) :
    df_train  = df[["id","down_time",]].groupby("id").min()
    df_temp   = df[["id","up_time",]].groupby("id").max()
    df_train  = pd.merge(df_train, df_temp, on="id", how="left")
    df_temp   = df[["id","action_time",]].groupby("id").sum()
    df_train  = pd.merge(df_train, df_temp, on="id", how="left")
    df_temp   = df[["id","word_count",]].groupby("id").max()
    df_train  = pd.merge(df_train, df_temp, on="id", how="left")
        
    df["activity"] = df["activity"].str[:4]
    df["Inpu"] = df["activity"].apply(lambda x:1 if x=="Inpu" else 0)
    df["Move"] = df["activity"].apply(lambda x:1 if x=="Move" else 0)
    df["Nonp"] = df["activity"].apply(lambda x:1 if x=="Nonp" else 0)
    df["Past"] = df["activity"].apply(lambda x:1 if x=="Past" else 0)
    df["Remo"] = df["activity"].apply(lambda x:1 if x=="Remo" else 0)
    df["Repl"] = df["activity"].apply(lambda x:1 if x=="Repl" else 0)
    
    df_temp = df[["id","Inpu","Move","Nonp","Past","Remo","Repl"]].groupby("id").sum()
    df_train  = pd.merge(df_train, df_temp, on="id", how="left")
    
    return df_train

In [17]:
train_df = feature_eng(train_data)

In [18]:
train_df

,down_time,up_time,action_time,word_count,Inpu,Move,Nonp,Past,Remo,Repl
id,,,,,,,,,,
001519c8,4526,1801969,297243,256,2010,3,120,0,417,7
0022f953,30623,1788969,275391,323,1938,0,254,1,260,1
0042269b,4441,1771669,421201,404,3515,0,175,0,439,7
0059420b,41395,1404469,189596,206,1304,0,99,1,151,1
0075873a,78470,1662472,313702,252,1942,0,72,0,517,0
...,...,...,...,...,...,...,...,...,...,...
ffb8c745,22467,1791649,499670,461,3588,0,189,0,960,2
ffbef7e5,21732,1799174,214221,438,2395,0,148,0,60,1
ffccd6fd,23482,1959363,231580,201,2849,0,126,0,88,0
ffec5b38,19885,1508504,289439,413,2895,0,71,0,276,0
fff05981,39727,2070133,301235,241,2452,1,843,1,310,12

In [21]:
train_df.to_csv("train_df_v1.csv")

In [20]:
df = pd.read_csv("train_df_v1.csv")
df.head()

,down_time,up_time,action_time,word_count,Inpu,Move,Nonp,Past,Remo,Repl
0,4526,1801969,297243,256,2010,3,120,0,417,7
1,30623,1788969,275391,323,1938,0,254,1,260,1
2,4441,1771669,421201,404,3515,0,175,0,439,7
3,41395,1404469,189596,206,1304,0,99,1,151,1
4,78470,1662472,313702,252,1942,0,72,0,517,0