In [4]:
import pandas as pd
import numpy as np

 https://www.kaggle.com/code/tianmin/visualization-writing-process-quality-eda

In [5]:
train_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_logs.csv")
train_scores = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/train_scores.csv")
sample_sub = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/sample_submission.csv")
test_logs = pd.read_csv("/Users/helloworld/Desktop/linking-writing-processes-to-writing-quality/test_logs.csv")

In [6]:
train_logs

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1
...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240

In [7]:
train_scores

            id  score
0     001519c8    3.5
1     0022f953    3.5
2     0042269b    6.0
3     0059420b    2.0
4     0075873a    4.0
...        ...    ...
2466  ffb8c745    3.5
2467  ffbef7e5    4.0
2468  ffccd6fd    1.5
2469  ffec5b38    5.0
2470  fff05981    4.0

[2471 rows x 2 columns]

In [8]:
train_data = train_logs.merge(train_scores, how='inner', on="id")

In [9]:
train_data

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

In [10]:
train_data[['activity', 'down_event', 'up_event', 'text_change']].describe()

       activity down_event up_event text_change
count   8405898    8405898  8405898     8405898
unique       50        131      130        4111
top       Input          q        q           q
freq    6726796    5365319  5364789     6128208

In [11]:
train_data.drop("id", axis = 1, inplace=True)

In [12]:
train_data

,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,5,107196,107323,127,Input,q,q,q,2,1,3.5
...,...,...,...,...,...,...,...,...,...,...,...
8405893,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240,4.0
8405894,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240,4.0
8405895,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240,4.0
8405896,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240,4.0
8405897,3619,2070065,2070133,68,Input,.,.,.,1029,240,4.0

In [13]:
print(f'Min Score {train_data["score"].min()}')
print(f'Max Score {train_data["score"].max()}')

Min Score 0.5
Max Score 6.0

In [14]:
test_logs

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,0000aaaa,1,338433,338518,85,Input,Space,Space,,0,0
1,0000aaaa,2,760073,760160,87,Input,Space,Space,,1,0
2,2222bbbb,1,711956,712023,67,Input,q,q,q,0,1
3,2222bbbb,2,290502,290548,46,Input,q,q,q,1,1
4,4444cccc,1,635547,635641,94,Input,Space,Space,,0,0
5,4444cccc,2,184996,185052,56,Input,q,q,q,1,1

In [16]:
train_data[['up_event']].describe()

       up_event
count   8405898
unique      130
top           q
freq    5364789

In [18]:
train_data[['down_event']].describe()

       down_event
count     8405898
unique        131
top             q
freq      5365319

In [21]:
train_data[['text_change']].describe()

       text_change
count      8405898
unique        4111
top              q
freq       6128208

In [22]:
train_data[['cursor_position']].describe()

       cursor_position
count     8.405898e+06
mean      1.222964e+03
std       9.485242e+02
min       0.000000e+00
25%       4.990000e+02
50%       1.043000e+03
75%       1.706000e+03
max       7.802000e+03

In [23]:
train_data[['word_count']].describe()

         word_count
count  8.405898e+06
mean   2.314687e+02
std    1.759088e+02
min    0.000000e+00
25%    9.600000e+01
50%    2.000000e+02
75%    3.270000e+02
max    1.326000e+03